.list-group {
  margin-top: 20px;
  user-select: none;
}
.done {
  text-decoration: line-through;
}
.button-remove {
  position: absolute;
  right: 5px;
  bottom: 3px;
}
.active {
  background: #03a9f4;
}

.attachment {
  top: 0;
}

.progress-bar > span {
  color: black;
}
